/**
 * Variable colors
 */

$yellow: #fff1bc;

$lightGreen: #D3FAD6;
$green: #4CB963;
$darkGreen: #157F1F;

$red: #FA2600;
$lightRed: #FC644D;
$orange: #e17055;

$lightBlue: #74b9ff;
$blue: #0496FF;
$darkBlue: #027BCE;

$grey: #303841;
